.p-s {
  padding: var(--spacing-small);
}
.p-m {
  padding: var(--spacing-medium);
}
.p-l {
  padding: var(--spacing-large);
}
.p-xl {
  padding: var(--spacing-xlarge);
}

.px-s {
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
}
.px-m {
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}
.px-l {
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
}
.px-xl {
  padding-left: var(--spacing-xlarge);
  padding-right: var(--spacing-xlarge);
}

.py-s {
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
}
.py-m {
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
}
.py-l {
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-large);
}
.py-xl {
  padding-top: var(--spacing-xlarge);
  padding-bottom: var(--spacing-xlarge);
}

.pt-s {
  padding-top: var(--spacing-small);
}
.pt-m {
  padding-top: var(--spacing-medium);
}
.pt-l {
  padding-top: var(--spacing-large);
}
.pt-xl {
  padding-top: var(--spacing-xlarge);
}

.pr-s {
  padding-right: var(--spacing-small);
}
.pr-m {
  padding-right: var(--spacing-medium);
}
.pr-l {
  padding-right: var(--spacing-large);
}
.pr-xl {
  padding-right: var(--spacing-xlarge);
}

.pl-s {
  padding-left: var(--spacing-small);
}
.pl-m {
  padding-left: var(--spacing-medium);
}
.pl-l {
  padding-left: var(--spacing-large);
}
.pl-xl {
  padding-left: var(--spacing-xlarge);
}

.pb-s {
  padding-bottom: var(--spacing-small);
}
.pb-m {
  padding-bottom: var(--spacing-medium);
}
.pb-l {
  padding-bottom: var(--spacing-large);
}
.pb-xl {
  padding-bottom: var(--spacing-xlarge);
}

.m-s {
  margin: var(--spacing-small);
}
.m-m {
  margin: var(--spacing-medium);
}
.m-l {
  margin: var(--spacing-large);
}
.m-xl {
  margin: var(--spacing-xlarge);
}

.mx-s {
  margin-left: var(--spacing-small);
  margin-right: var(--spacing-small);
}
.mx-m {
  margin-left: var(--spacing-medium);
  margin-right: var(--spacing-medium);
}
.mx-l {
  margin-left: var(--spacing-large);
  margin-right: var(--spacing-large);
}
.mx-xl {
  margin-left: var(--spacing-xlarge);
  margin-right: var(--spacing-xlarge);
}

.my-s {
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}
.my-m {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}
.my-l {
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-large);
}
.my-xl {
  margin-top: var(--spacing-xlarge);
  margin-bottom: var(--spacing-xlarge);
}

.mt-s {
  margin-top: var(--spacing-small);
}
.mt-m {
  margin-top: var(--spacing-medium);
}
.mt-l {
  margin-top: var(--spacing-large);
}
.mt-xl {
  margin-top: var(--spacing-xlarge);
}

.mr-s {
  margin-right: var(--spacing-small);
}
.mr-m {
  margin-right: var(--spacing-medium);
}
.mr-l {
  margin-right: var(--spacing-large);
}
.mr-xl {
  margin-right: var(--spacing-xlarge);
}

.ml-s {
  margin-left: var(--spacing-small);
}
.ml-m {
  margin-left: var(--spacing-medium);
}
.ml-l {
  margin-left: var(--spacing-large);
}
.ml-xl {
  margin-left: var(--spacing-xlarge);
}

.mb-s {
  margin-bottom: var(--spacing-small);
}
.mb-m {
  margin-bottom: var(--spacing-medium);
}
.mb-l {
  margin-bottom: var(--spacing-large);
}
.mb-xl {
  margin-bottom: var(--spacing-xlarge);
}

.gap-s {
  gap: var(--spacing-small);
}
.gap-m {
  gap: var(--spacing-medium);
}
.gap-l {
  gap: var(--spacing-large);
}
.gap-xl {
  gap: var(--spacing-xlarge);
}
